body {
  margin-top: 70px;
  margin: 0;
  height: 100%;
}

.sidebar {
  display: none;
}

/* navbar css */
.nav-bar {
  background-color: rgb(52, 211, 153);
  box-shadow: 0px 5px rgb(110, 231, 183, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  font-family: "Itim", cursive;
  z-index: 2;
}

.brain {
  height: 50px;
  margin-left: 20px;
}

.nav-ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list {
  padding: 10px;
  color: white;
  font-size: 20px;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 35px;
}

.nav-ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}

/*home page*/
.home body {
  overflow: hidden;
}

.home {
  padding: 10px;
  margin-top: 70px;
}

.home-title {
  font-family: "Itim", cursive;
  font-size: 34px;
  justify-content: center;
  display: flex;
}

.home-title:hover {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
}

.container {
  display: flex;
  align-items: center;
  width: 500px;
  height: 250px;
  margin: 50px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  float: left;
  border-radius: 20px;
  flex-direction: column;
  z-index: 1;
}

.container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-10px);
}

.container-title {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Itim", cursive;
}

.container-paragraph {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  word-wrap: break-word;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "Itim", cursive;
}

/*quiz*/

.quiz {
  padding: 10px;
  margin-top: 70px;
}

.quiz-title {
  font-family: "Itim", cursive;
  font-size: 34px;
  display: flex;
  justify-content: center;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  float: left;
  border-radius: 20px;
  flex-direction: column;
  position: fixed;
}

/* quiz buttons */
.quiz-buttons {
  justify-content: center;
  display: flex;
  align-items: center;
}

.back-button {
  margin: 5px;
}

.submit-button {
  margin: 5px;
}

/*mbti-personalities tab*/

.personality-list {
  margin-top: 70px;
}

.personality-list-title {
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 34px;
  font-family: "Itim", cursive;
}

.search {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  width: 30%;
  height: 30px;
  border-radius: 15px;
  padding: 5px;
  top: 0;
  left: 0;
}

/*personality list*/

.personality-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

#cancelBtn {
  background-color: #f44336;
  color: white;
  margin-right: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}